.creator-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 25px;
    background: #1A1A1A;
    color: white;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 5%);
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 500px;
    align-items: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 20px 20px);
}

.nft-display{
    max-width: 100px;
    margin: 10px;
}

.nft-video-display{
    max-width: 100px;
    height: auto;
    margin: 10px;
}

.profile-picture {
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:50%;
}

.nft-row{
    display: flex;
    flex-direction: row;
}

.button-find-more{
    border-radius: 25px;
    border: none;
    max-width: 200px;
}

.profile-row-revenue{
    display: flex;
    flex-direction: row;
}

.profile-row-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username{
    padding-left: 15px;
    padding-top: 20px;
    box-sizing: border-box;
    min-width: 0px;
    line-height: 1.2;
    margin: 0px;
    font-family: "Lack";
    font-size: 25px;
    background: linear-gradient(110.78deg, rgb(118, 230, 80) -1.13%, rgb(249, 214, 73) 15.22%, rgb(240, 142, 53) 32.09%, rgb(236, 81, 87) 48.96%, rgb(255, 24, 189) 67.94%, rgb(26, 75, 255) 85.34%, rgb(98, 216, 249) 99.57%) text;
    background-image: linear-gradient(110.78deg, rgb(118, 230, 80) -1.13%, rgb(249, 214, 73) 15.22%, rgb(240, 142, 53) 32.09%, rgb(236, 81, 87) 48.96%, rgb(255, 24, 189) 67.94%, rgb(26, 75, 255) 85.34%, rgb(98, 216, 249) 99.57%);
    background-clip: text;
}

.text-details{
    border-radius: 25px;
    border: solid;
    padding: 20px;
    margin: 5px;
    margin-top: 10px;
    border-width: 0.5px;
    font-size: 23px;
}

#noneall a{
    text-decoration:none;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .creator-card {
        padding: 10px;
        width: 400px;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
    }

    .username{
        font-size: 16px;
    }

    .text-details{
        font-size: 17px;
    }
}

@media screen and (max-width: 700px) {
    .creator-card {
        padding: 10px;
        width: 300px;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
    }

    .text-details{
        font-size: 15px;
    }
}